<!DOCTYPE html>
<html>

<head>
    <title>Home Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">HomeService</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-box">
            <h1>Home Services Booking Platform</h1>
            <p>Book trusted electricians, plumbers, cleaners and more at your doorstep.</p>

            <div class="hero-buttons">
                <a href="/login" class="btn primary">Get Started</a>

            </div>
        </div>
    </section>


</body>

</html>